.faq-container {
  text-align: center;
  background-image: url("https://i.ibb.co/JyY44Cx/Faq-school.jpg");
  background-position: center;
  background-size: cover;
  /* background-attachment: fixed; */
  /* height: 700px; */
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.701) !important;
}
