.horizonLine {
  color: white;
  width: 94%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
  margin-top: 3%;
  margin: 0 auto;
  color: gray;
}
.dropButton {
  color: white;
  width: 20%;
  margin-left: 40%;
  margin-bottom: 3%;
}
.openingHour {
  display: flex;
  justify-content: space-between;
}
.item {
  color: white;
  padding: 3%;
}
