.paymentSuccessContainer {
    background-image: url('./Img/bace57c5e51b79fa303026d754fef8b5.gif'), url('./Img//confetti-icegif-2.gif');
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
    padding: 15px;

}

.congratulation-card {
    padding: 10px;
    text-align: center;
    height: 500px;
    box-shadow: "0px 14px 22px rgb(42 135 158 / 10%)";
    background-color: white;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 30%;
    display: flex;
    justify-items: center;
    

}